<% if @employee.errors.any? %>
	Errors found:<br />
	<ol>
		<% @employee.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ol>
<% end %>

<ul>
<%= form_for @employee do |f| %>
	<% @form_text_fields.each do |field| %>
		<li><%= f.label field %>: <%= f.text_field field %></li>
	<% end %>
	<li><%= f.label :dog_id %>: <%= f.collection_select :dog_id, @dogs, :id, :namebreed %></li>
	<%= f.submit %>
<% end %>
</ul>